<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>


    <ion-toolbar color="primary">
      <ion-searchbar color="warning" placeholder = "Buscar nombre o marca o categoria" [debounce]="1000" animated (ionChange)="handleChange($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-toolbar>

</ion-header>
<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card color="primary" (click)="openMedicamento()" >
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
           medicamentos
          </h1></ion-card-title>
      </ion-card-header>
    </ion-card>
    <br>
    <ion-card color="primary" (click)="openCremas()" >
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
           cremas
          </h1></ion-card-title>
      </ion-card-header>

    </ion-card>

    <br>
    <ion-card color="primary" (click)="openPerfumes()" >
      <ion-card-header >
        <ion-card-title >
          <h1 id = "card">
           perfumes
          </h1></ion-card-title>
      </ion-card-header>

  </ion-card>


  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/producto']" tab="Productos">
          <ion-icon name="bag-handle-outline"></ion-icon>
          <ion-label>Productos</ion-label>

        </ion-tab-button>

        <ion-tab-button [routerLink]="['/login']"  tab="Usuario">
          <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
          <ion-label>Usuario</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openCart()" tab="Carrito">
          <ion-icon name="cart" class="cart-icon"></ion-icon>
          <ion-label>Carrito</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
