<ion-header>
  <ion-toolbar>
    <ion-title>eliminarUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngIf="usuarioactivo">

    <ion-card-header>
      <ion-card-title>
        {{ usuarioactivo.nombre }}
      </ion-card-title>
      <ion-card-subtitle>
        {{usuarioactivo.tipo}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="display: flex; justify-content: space-between;">
      <ion-button [routerLink]="['/roles']" color="primary">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="borrar()">
        <ion-icon name="trash-bin-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>




</ion-content>
